@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link rel="stylesheet" href="~/css/Home/home.css" asp-append-version="true" />
}

<div>
    <h1 class="texto-home">
        @Model.TextoInicio
    </h1>
    <p class="texto-meio">
        Crie, evolua e torne-se um Mestre Pokémon!
    </p>
</div>

<div class="text-center">
    <a class="btn btn-danger mt-3 mb-5" role="button" asp-controller="Pokemon" asp-action="Index">Explorar Pokédex</a>
</div>



<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">

@foreach (var card in Model.ListaCard)
{
    <div class="col">
        <div class="card border-warning shadow p-3 mb-5 bg-body-tertiary rounded card h-75 w-100">
            <div class="card-body">
                <h5 class="card-title text-center mb-4"><i class="bi bi-bookmark-fill"></i></h5>
                <h5 class="card-title text-center mb-3 text-secondary">@card.Titulo</h5>
                <p class="card-text mb-4">
                    @card.Texto
                </p>
            </div>
        </div>
    </div>
}
</div>

<div class="row">
    <div class="col-lg-5 mx-auto">
        <div id="carouselExample" class="carrossel-pokemon carousel slide">
            <div class="carousel-inner text-center">

                @for (int i = 0; i < Model.ListaPokemon.Count; i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <h5>@Model.ListaPokemon[i].Nome</h5>
                        <p>@Model.ListaPokemon[i].Codigo</p>
                        <img src="@Model.ListaPokemon[i].LinkImagem" alt="@Model.ListaPokemon[i].Nome">
                    </div>
                }


            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span aria-hidden="true">
                    <i class="bi bi-arrow-left btn btn-outline-secondary"></i>
                </span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span aria-hidden="true">
                    <i class="bi bi-arrow-right btn btn-outline-secondary"></i>
                </span>
            </button>
        </div>
    </div>
</div>
